body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}
section {
    height: 700px;
}
.top-banner{
    background-color:  #F6F6F6 ;
}
.top-nav {
    float: right;
    margin-right: 5%;
  }
.top-nav a {
    float: left;
    color: black;
    text-align: center;
    padding: 15px 15px;
    text-decoration: none;
    font-size: 17px;
  }
h1{
    font-family: 'Bebas Neue', cursive;
    font-size: 80px;
  }
.orange-highlight {
    color: #FF8367;
}

.half-width {
    width: 35%;
    float: left;
    margin-left: 8%;
    padding: 2%;
    margin-right: 3%;
}
.half-width p {
    margin-bottom: 8%;
}

.half-width img {
    width: 80%;
}
#icon-position{
    margin-top: 18px;
    display: inline-block;
    padding-right: 10px;
    height: 20px;
    width: 20px;
}
.link-button {
    text-decoration: none;
    background-image: linear-gradient(0deg, #FF8063 -28.33%, #F46060 95.83%);
    border-radius: 6px;
    padding: 20px 40px;
    margin-top: 10%;
    color: white;
    font-size: 16px;
    font-weight: 500;    
}
.link-button img {
    width: 16px;
}
.work-area{
    padding-top: 80px;
    background-color: #F6F6F6;
    background-position-x: center;
    height: 600px;
}
.work-area h2{ 
    font-family: Bebas Neue;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 48px;
    text-align: center;
}
.works {
    margin-left: 10%;
    float: left;
    width: 20%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  } 
.works img {
    width: 100%;
  }
.work-des {
 padding: 2px 16px;
  }
.inquiry{
    margin-top: 5%;
    height: 300px;
    background-image: url(shapes/Group_33094_1.png);
    background-size: 40%;
    background-repeat: no-repeat;
    background-position-x: center;
}
.inquiry-l {
    margin-left: 25%;
    text-align: center;
    width: 25%;
    float: left;
    color: white;
    margin-top: 3%;
}
.inquiry-l h2{
    font-size: 30px;
}
.inquiry-r {
    margin-top: 4.5%;
    text-align: center;
    width: 25%;
    float: left;
}
.single-experience {
    background-color: white;
    box-shadow: 10px 10px 40px gray;
    border-radius: 5px;
    height: 30%;
    background-color: #F6F6F6;
}

.experience-area {
    padding-top: 2%;
    text-align: center;
    height: 460px;
    background-color:  #F6F6F6  ;
}
.single-posts{
    width: 15%;
    float: left;
    margin-left: 6%;
    margin-right: 2%;
}

#even-posts {
    padding: 0.5rem;
    border-left: 7px solid transparent;
    border-radius: 5px;
    background: linear-gradient(to right, white, white),
        linear-gradient(180deg, lightSalmon, tomato);
    background-clip: padding-box, border-box;
    background-origin: padding-box, border-box;
}

#odd-posts{
    padding: 0.5rem;
    border-left: 7px solid transparent;
    border-radius: 5px;
    background: linear-gradient(to right, white, white),
        linear-gradient(180deg, blue, cyan);
    background-clip: padding-box, border-box;
    background-origin: padding-box, border-box;
    
}
.read-more{
    padding-top: 18%;
    margin: auto;

}
.post-button{
    text-decoration: none;
    background-image: linear-gradient(45deg, cyan, blue);
    border-radius: 6px;
    padding: 10px 20px;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    color: white;  

  
}

footer{
    margin-top: auto;
    text-align: center;
}
footer img{
    width: 40px;
    margin-left: .5%;
    margin-right: .5%;
}
footer p{
    font-family: Bebas Neue;
    font-style: normal;
    font-size: 24px;
    color: #696871;
}
footer h3{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    color: #363958;

} 